// Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
// SPDX-License-Identifier: MIT-0

.chart-container {
  flex: 1;
  min-width: 300px;
  
  @media (max-width: 768px) {
    flex: 1 1 100%;
  }
}
