// Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
// SPDX-License-Identifier: MIT-0

.custom-flashbar-wrapper {
  > div[role='list'] {
    > div {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(198, 198, 198, 1);
      border-radius: 12px;
      box-shadow: rgba(0, 7, 22, 0.1) 0px 4px 8px 0px;
      padding: 8px 16px;
    }
  }
}
