// Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
// SPDX-License-Identifier: MIT-0

.staticWidget {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 200px;
}
